body {
    padding: 0;
    margin: 0;
    font-family: "Arial", Arial, Helvetica, sans-serif
    line-height: 150%;
    background-color: #ffffff;
    background-image: url("../images/spikes.png")
  }
  
  header {
    background-color: #ffffff;
  }

  #main-bio {
      float: left;
  }
.nav ()

  }
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  #bio-image {
             float: left;
  }
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: rgb(238, 238, 238);
    text-align: center;
    background: #333;
  }
  
  h2 {
    font-size: 24px;

    


.wrapper {
        min-height: 100%;
      
        /* Equal to height of footer */
        /* But also accounting for potential margin-bottom of last child */
        margin-bottom: -50px;
      }
      .footer,
      .push {
        height: 50px;
      }

      
.About {

}

.Contact{

}

.Portfolio{

}